<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team15.capstone2.pbs">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Maps Android Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />
        <!-- Maps -->


        <!-- Services -->
        <service
            android:name=".service.SchedulingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="team15.capstone2.pbs.service.SchedulingService" />
            </intent-filter>
        </service>

        <!-- Services -->

        <activity
            android:name=".actitities.LoginActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".actitities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actitities.WalletActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".actitities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actitities.MainActivity" />
        </activity>
        <activity
            android:name=".actitities.CarsManagerActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".actitities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actitities.MainActivity" />
        </activity>
        <activity
            android:name=".actitities.AccountActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".actitities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actitities.MainActivity" />
        </activity>
        <activity
            android:name=".actitities.FeedbackActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".actitities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actitities.MainActivity" />
        </activity>
        <activity
            android:name=".actitities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".actitities.BookingActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".actitities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actitities.MainActivity" />
        </activity>
        <activity
            android:name=".actitities.BookingSuccessActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".actitities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actitities.MainActivity" />
        </activity>
        <activity android:name=".actitities.BookingDetailActivity"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actitities.MainActivity" />
        </activity>
    </application>

</manifest>